# copy to /usr/lib/systemd/system/

[Unit]
Description=pack http with tcp
After=syslog.target network.target auditd.service

[Service]
Type=simple
User=builder
ExecStart=/var/www/src/pack/pack.sh
WorkingDirectory=/var/www/src/pack/
Restart=on-failure
RestartSec=32s

[Install]
WantedBy=multi-user.target
